html { position: relative; margin: 0; padding: 0; height: 100%; }
body { margin: 0; padding: 0; text-align: left; height: 100%; }
#imPageExtContainer {min-height: 100%; }
#imPageIntContainer { position: relative;}
#imPage { position: relative; width: 100%; }
#imHeaderBg { position: absolute; left: 0; top: 0; width: 100%; }
#imContent { position: relative; overflow-x: clip; }
#imFooterBg { position: absolute; left: 0; bottom: 0; width: 100%; }
#imStickyBarContainer { visibility: hidden; position: fixed; overflow: hidden; }
@media (min-width: 1500.0px) {
		#imPageExtContainer { background-image: none; background-color: rgba(255, 255, 255, 1); z-index: 0; position: relative; }
		#imPage { padding-top: 0px; padding-bottom: 0px; min-width: 1500px; }
		#imHeaderBg { height: 70px; background-image: none; background-color: transparent; }
		#imHeader { background-image: none; background-color: rgba(37, 37, 37, 1); }
		#imHeaderObjects { margin-left: auto; margin-right: auto; position: relative; height: 70px; width:1500px; }
		#imContent { align-self: start; padding: 0px 0 4px 0; }
		#imContentGraphics { min-height: 0px; background-image: none; background-color: rgba(255, 255, 255, 1); }
		#imFooterBg { z-index: -1; height: 350px; background-image: none; background-color: rgba(255, 255, 255, 1); }
		#imFooter { z-index: 1;  background-image: none; background-color: rgba(255, 255, 255, 1); }
		#imFooterObjects { margin-left: auto; margin-right: auto; position: relative; height: 350px; width:1500px; }
		#imSideBar { background-image: none; background-color: transparent; overflow: visible; zoom: 1; z-index: 200; }
		#imSideBarObjects { position: relative; height: 0px; }
		#imStickyBarContainer { top: 0; left: 0; right: 0; margin: auto; width: 100%; height: 70px; box-sizing: border-box; z-index: 10301; }
		#imStickyBarGraphics { top: 0; left: 0; right: 0; margin: auto; width: 100%; height: 70px; box-sizing: border-box; background-image: none; background-color: rgba(59, 59, 59, 0.7); position: absolute; }
		#imStickyBar { position: relative; top: 0; left: 0; margin: auto; width: 1500px }
		#imStickyBarObjects { position: relative; height: 70px; }
	
}
@media (max-width: 1499.9px) and (min-width: 900.0px) {
		#imPageExtContainer { background-image: none; background-color: rgba(255, 255, 255, 1); z-index: 0; position: relative; }
		#imPage { padding-top: 0px; padding-bottom: 0px; min-width: 900px; }
		#imHeaderBg { height: 290px; background-image: none; background-color: rgba(204, 204, 204, 1); }
		#imHeader { background-image: none; background-color: rgba(204, 204, 204, 1); }
		#imHeaderObjects { margin-left: auto; margin-right: auto; position: relative; height: 290px; width:900px; }
		#imContent { align-self: start; padding: 0px 0 20px 0; }
		#imContentGraphics { min-height: 0px; background-image: none; background-color: rgba(255, 255, 255, 1); }
		#imFooterBg { z-index: -1; height: 400px; background-image: none; background-color: rgba(255, 255, 255, 1); }
		#imFooter { z-index: 1;  background-image: none; background-color: rgba(255, 255, 255, 1); }
		#imFooterObjects { margin-left: auto; margin-right: auto; position: relative; height: 400px; width:900px; }
		#imSideBar { background-image: none; background-color: transparent; overflow: visible; zoom: 1; z-index: 200; }
		#imSideBarObjects { position: relative; height: 0px; }
		#imStickyBarContainer { top: 0; left: 0; right: 0; margin: auto; width: 100%; height: 70px; box-sizing: border-box; z-index: 10301; }
		#imStickyBarGraphics { top: 0; left: 0; right: 0; margin: auto; width: 100%; height: 70px; box-sizing: border-box; background-image: none; background-color: rgba(63, 63, 63, 0.7); position: absolute; }
		#imStickyBar { position: relative; top: 0; left: 0; margin: auto; width: 900px }
		#imStickyBarObjects { position: relative; height: 70px; }
	
}
@media (max-width: 899.9px) and (min-width: 700.0px) {
		#imPageExtContainer { background-image: none; background-color: rgba(255, 255, 255, 1); z-index: 0; position: relative; }
		#imPage { padding-top: 0px; padding-bottom: 0px; min-width: 700px; }
		#imHeaderBg { height: 200px; background-image: none; background-color: rgba(204, 204, 204, 1); }
		#imHeader { background-image: none; background-color: rgba(204, 204, 204, 1); }
		#imHeaderObjects { margin-left: auto; margin-right: auto; position: relative; height: 200px; width:700px; }
		#imContent { align-self: start; padding: 0px 0 20px 0; }
		#imContentGraphics { min-height: 0px; background-image: none; background-color: rgba(255, 255, 255, 1); }
		#imFooterBg { z-index: -1; height: 560px; background-image: none; background-color: rgba(255, 255, 255, 1); }
		#imFooter { z-index: 1;  background-image: none; background-color: rgba(255, 255, 255, 1); }
		#imFooterObjects { margin-left: auto; margin-right: auto; position: relative; height: 560px; width:700px; }
		#imSideBar { background-image: none; background-color: transparent; overflow: visible; zoom: 1; z-index: 200; }
		#imSideBarObjects { position: relative; height: 0px; }
		#imStickyBarContainer { top: 0; left: 0; right: 0; margin: auto; width: 100%; height: 70px; box-sizing: border-box; z-index: 10301; }
		#imStickyBarGraphics { top: 0; left: 0; right: 0; margin: auto; width: 100%; height: 70px; box-sizing: border-box; background-image: none; background-color: rgba(63, 63, 63, 0.7); position: absolute; }
		#imStickyBar { position: relative; top: 0; left: 0; margin: auto; width: 700px }
		#imStickyBarObjects { position: relative; height: 70px; }
	
}
@media (max-width: 699.9px)  {
		#imPageExtContainer { background-image: none; background-color: rgba(255, 255, 255, 1); z-index: 0; position: relative; }
		#imPage { padding-top: 0px; padding-bottom: 0px; }
		#imHeaderBg { height: 215px; background-image: none; background-color: rgba(204, 204, 204, 1); }
		#imHeader { background-image: none; background-color: rgba(204, 204, 204, 1); }
		#imHeaderObjects { margin-left: auto; margin-right: auto; position: relative; height: 215px; width:320px; }
		#imContent { align-self: start; padding: 0px 0 20px 0; }
		#imContentGraphics { min-height: 0px; background-image: none; background-color: rgba(255, 255, 255, 1); }
		#imFooterBg { z-index: -1; height: 560px; background-image: none; background-color: rgba(255, 255, 255, 1); }
		#imFooter { z-index: 1;  background-image: none; background-color: rgba(255, 255, 255, 1); }
		#imFooterObjects { margin-left: auto; margin-right: auto; position: relative; height: 560px; width:320px; }
		#imSideBar { background-image: none; background-color: transparent; overflow: visible; zoom: 1; z-index: 200; }
		#imSideBarObjects { position: relative; height: 0px; }
		#imStickyBarContainer { top: 0; left: 0; right: 0; margin: auto; width: 100%; height: 70px; box-sizing: border-box; z-index: 10301; }
		#imStickyBarGraphics { top: 0; left: 0; right: 0; margin: auto; width: 100%; height: 70px; box-sizing: border-box; background-image: none; background-color: rgba(63, 63, 63, 0.7); position: absolute; }
		#imStickyBar { position: relative; top: 0; left: 0; margin: auto; width: 320px }
		#imStickyBarObjects { position: relative; height: 70px; }
	
}
